html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-image: url();
}
.Outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 6rem;
  margin: 1rem auto;
}
.title {
  background-image: url(IMG_2506.jpg);
  font-size: 6rem;
  margin: 0px auto;
  text-align: center;
  background-color: red;
  padding: 20vh 0vw 20vh 0vw;
}
.ingredients {
  height: 30rem;
  width: 22%;
  background-color: red;
}
