html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  color: white;
}
.Outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 6rem;
  margin: 1rem auto;
}
.title {
  background-image: url(IMG_2506.jpg);
  background-size: cover;
  background-position: 50%;
  font-size: 6rem;
  margin: 0px;
  text-align: center;
  padding: 40vh 0vw 45vh 0vw;
}
.ingredients {
  height: 40rem;
  width: 22%;
  background-color: red;
  margin: 2rem auto;
}
@media screen and (max-width: 800px) {
  .ingredients {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .ingredients {
    width: 80%;
  }
}
h2 {
  text-align: center;
}
.bread2 {
  background-image: url(19928-3-large_0.jpg);
}
.meat2 {
  background-image: url(meat.jpg);
}
.lettuce2 {
  background-image: url(lettuce.jpg);
}
.cheese2 {
  background-image: url(cheese.jpg);
}
.mayo2 {
  background-image: url(mayo.jpg);
}
.mustard2 {
  background-image: url(mustard.jpg);
}
.parsley2 {
  background-image: url(parsley.jpg);
}
.garlic2 {
  background-image: url(garlic.jpg);
}
.tomatoes2 {
  background-image: url(tomatoes.jpg);
}
.onions2 {
  background-image: url(onions.jpg);
}
